.musiccard-wrapper {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--pink);
    margin: 5px;
    text-transform: uppercase;
    flex-grow: 1;
    box-sizing: border-box;
    max-width: 300px;
}

.musiccard-title {
    font-size: 16px;
}

.musiccard-type-year {
    font-size: 15px;
    color: #6A6A6A;
}

.musiccard-wrapper img {
    max-width: 280px;
    margin: 10px;
}

.musiccard-btn {
    display: inline-block;
    background: var(--pink);
    padding: 6px;
    width: 87px;
    text-align: center;
    color: black;
    margin: 15px 5px;
}

.musiccard-wrapper a:hover {
    background-color: black;
    outline: 1px solid var(--pink);
    outline-offset: -1px;
    color: var(--pink);
}
