.conditionalMenuWrapper {
    display: flex;
    position: sticky;
    width: 100%;
    justify-content: flex-end;
    
   
   
}




.testBox {

    
    width: 100px;
    height: 100px;
    background-color: red;
    
}