.about-wrapper {
  background: black;
  color: var(--pink);
  font-family: "Abel", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 max(10px, 4vmin);
}

.about-wrapper h2 {
  text-transform: uppercase;
  padding: 50px;
  font-size: 30px;
  text-align: center;
}

.about-grid {
  /* margin: 0 10px; */
  display: grid;
  grid-template-columns: fit-content(35%) 1fr;
  grid-template-rows: auto 1fr;
  justify-items: center;
  justify-content: center;
  grid-gap: 10px;
  max-width: 1200px;
}

.btn-socials {
  display: grid;
  justify-items: center;
  justify-content: center;
}

.about-btn {
  margin-top: 25px;
  margin-bottom: 50px;
}

.about-btn a {
  text-transform: uppercase;
  background: var(--pink);
  color: black;
  text-align: center;
  padding: 25px 50px;
  transition: all 0.3s ease 0s;
}

.about-btn a:hover {
  background: black;
  color: var(--pink);
  outline: 1px solid var(--pink);
  outline-offset: -1px;
}

.about-photo {
  display: flex;
  justify-content: center;
  align-items: start;
}

.about-photo img {
  padding: 10px;

  width: 100%;
  border: 1px solid var(--pink);
}

.about-text {
  grid-column: 2;
  grid-row: 1 / span 2;
  color: var(--pink);
  padding: 0 0 0 30px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  text-indent: 25px;
}
.about-text p {
  margin-bottom: 15px;
}

.socials-about {
  transition: all 0.3s ease 0s;
}

.socials-about a {
  transition: all 0.3s ease 0s;
  margin: 0 1vw;
  vertical-align: middle;
}

@media (max-width: 820px) {
  .about-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .about-text {
    grid-column: 1;
    grid-row: 2;
    padding: 0;
  }
}
