* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    
    color: #C29898;
    
} */

/* body {
    background-color: black;
    font-family: 'Abel', sans-serif;
}  */

a {
    color: unset;
    /* text-decoration: none; */
}

.fade-in {
	-webkit-animation: fade-in 1.2s ease-in both;
	        animation: fade-in 1.2s ease-in both;
}

 @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }